@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import './styles/page-one.css';
@import './styles/page-two.css';
@import './styles/balls-menu.css';
@import './styles/page-three.css';
@import './styles/form-page.css';


*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    background-color: white;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
}

#btn-top {
    display: none; 
    position: fixed;
    bottom: 0; 
    left: 50%; 
    z-index: 5;
    border: none;
    outline: none; 
    background-color: white; 
    color: black; 
    border: 1px solid black;
    cursor: pointer; 
    border-radius: 50%; 
    font-size: 1.5rem; 
    width: 50px;
    height: 50px;
    text-align: center;
    transform: translate(-50%, -50%);
  }

#navbar {
    z-index: 1;
    height: 50px;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.button-nav {
    height: 30px;
    width: 100px;
    border: 3px solid black;
    background-color: white;
    border-radius: 20px;

}

@media only screen and (max-width: 600px) {
    .button-nav {
        visibility: hidden;

    }
}

.balls-nav {
    display: flex;
    align-items: center;
}

.ball {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 3px solid black;
    cursor: pointer;
}

#brazil {
    padding: 1px;
    background-image: url('./assets/language_icons/brasilia_4628714.png');
    background-size: cover;
}

#us {
    background-image: url('./assets/language_icons/usa_4628635.png');
    background-size: cover;
}

#france {
    background-image: url('./assets/language_icons/france_4855771.png');
    background-size: cover;
}

#spain {
    background-image: url('./assets/language_icons/spain_4855742.png');
    background-size: cover;
}

.line {
    height: 3px;
    width: 40px;
    background-color: black;
}

.page {
    height: 110vh;
}

.square {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: yellow;
}




