#form-page {
    background-color: gray !important;
    height: 80vh !important;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.custom-form {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#inputs {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#inputs label {
    text-align: left !important;
}

#inputs .form-submit {
    display: flex;
    text-transform: uppercase;
    align-self: flex-end;
    justify-content: center;
    text-align: center !important;
    font-size: 20px;
    font-weight: 700;
}

#form-page input {  
    border-radius: 20px;
    border: 0;
    margin: 20px;
    height: 3em;
    width: 100%;
    padding: 20px;
    margin-left: 0;
    text-decoration-style: none;
}

.container-h1 h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-align: right;
    color: black;
    /* margin-bottom: 1em; */
    
}

.container-h1 {
    width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 320px) {
    
    .container-h1 h1 {
        font-size: 2.3em;
    }
}

@media only screen and (max-width: 750px) {

    .custom-form {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .container-h1 {
        width: 80%;

    }

    .container-h1 h1 {
        /* font-size: 2em; */
        text-align: center !important;
    }

    #inputs {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    /* #form-page {
        height: 60vh;
    } */

    

    

    

    

    #emoji-form {
        display: none;
    }

    #inputs .form-submit {
        /* width: 100% !important;
        justify-self: center !important; */
    }
}

#form-page label {
    font-size: 1.3em;
    font-family: sans-serif;
    /* text-decoration: underline black; */
}

#inputs textarea {
    width: 100%;
    border-radius: 30px;
    resize: none;
    margin-top: 20px;
    padding: 20px;
}

.form-submit {
    width: 100px !important;
    font-family: 'Rajdhani', 'Roboto';
    display: flex;
    justify-self: flex-end;
}


#emoji-form {
    font-size: 4em;
}