/* PAGE PARALLAX */

* {
    box-sizing: border-box;
}

.parallax {
    background-image: url('../assets/mountains.jpg');
    background-position: bottom;
    -webkit-background-position: bottom;
    background-size: cover;
    position: relative;
    
}

.parallax-title{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.parallax-title h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: clamp(3rem, 4vw, 6rem);
    color: white;
    border-style: 1px solid black;
}


.mountain-mask {
    z-index: 3;
    position: absolute;
    inset: 0;
    -webkit-mask: url('../assets/mask-ceu.png');
    mask: url('../assets/mask-ceu.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    mask-position: bottom;
    -webkit-mask-position: bottom;
    
}

.bottom-parallax {
    padding: 20px;
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
    width: 100% !important;

}



.rounded-container {
    width: 50px;
    height: 50px;
    border: 5px solid white;
    margin: 15px;
    border-radius: 50%;
    animation: 4s turnWhite infinite;

}

.rounded-container:first-child {
    animation-delay: 1.8s;
}

@keyframes turnWhite {
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}


#my-description {
    min-height: 200px;
    /* background-color: azure; */
    width: 80%;
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    justify-content: center;
}

.circled-photo {
    background-color: cadetblue;
    background-image: url('../assets/foto/20230705_152138.jpg');
    border: 3px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    border-radius: 50%;
    height: clamp(150px, 10vw, 60px);
    width: clamp(150px, 10vw, 60px);
}

#description-text {
    width: 100%;
    display: flex;
    justify-content: space-around;

}



#description-first {
    /* border-right: 2px solid white; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#description-first p {
    font-size: clamp(23px, 15vw, 10px);
    font-family: 'Rajdhani', 'Roboto';
    color: white;
    font-weight: 500;
}

#line-text {
    height: 100px;
    width: 3px;
    color: white;
}

/* #description-first p::before {
    content: "* ";
} */

#social-container {
    /* background-color: coral; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* #social-container::before {
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
} */

.icon-social-media {
    width: clamp(70px, 10vw, 30px);
    height: clamp(70px, 10vw, 30px);

}

@media only screen and (max-width: 740px) {
    #description-text {
        /* grid-template-columns: 1fr; */
        display: flex;
        justify-content: center;

    }

    #description-first {
        display:none;
    }

    #social-container {
        display: flex;
        flex-direction: row;
    } 

    .circled-photo {
        display: none;
    }

}

@media only screen and (max-width: 350px) {
    #social-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}

.social-icon {
    padding: 5px;
    
}

.social-icon:hover {
    cursor: pointer;
}


