/* PAGE 2 */

.page-two {
    /* flex-direction: column; */
    /* align-items: stretch; */
    background-color: rgb(219, 109, 69);
    min-height: 0vh !important;
}

/* MOVING BALL CONTAINER */

.moving-ball-container {

    width: 100%;
    /* height: 25%; */
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    padding: 2rem 0;

}

.moving-ball-container::after {
    content: "";
    background-color: antiquewhite;
}

.moving-ball {

    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    transform: translateX(-10vw);
    
    animation: 3s moveBall infinite;
    
    
    
}

.moving-ball-two {

    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    
    animation: 4s moveBall infinite;
    animation-delay: 100ms;
    transform: translateX(-10vw);
    
    
    
}

.moving-ball-three {

    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    transform: translateX(-10vw);
    
    animation: 2s moveBall infinite;
    animation-delay: 200ms;
    
    
    
}


@keyframes moveBall {
    /* from { left: -10vw} to {left: 110vw}
    from { left: 110vw} to {left: -10vw} */
    0% {
        transform: translateX(-10vw);
    }
    50% {
        transform: translateX(110vw);
    }
    100% {
        transform: translateX(-10vw);
    }
}

#typing-text {
    background-color: rgb(219, 109, 69);
    /* height: 75%; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px;
    align-items: space-between;
    justify-content: flex-start;
    padding: 5em 2em;
}




#typing-title {
    font-size: clamp(2.7em, 10vw, 8em);
    text-align: center;
    margin-bottom: clamp(4px, 10vw, 10px);
}

.text-columns {
    width: 100%;
}

#text-content {
    column-count: 1;
    padding: 10px;
    font-size: clamp(1rem, 2.7vw, 2.5rem);
    font-family: 'Rajdhani', 'Roboto';
    justify-self: center;
}

@media only screen and (max-width: 700px) {

    /* .page-two h1 {
        font-size: 4em;
    } */

    /* .text-content {
        column-count: 1;
    } */
}


